{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <form class="form-signin" method="post" action="check_login">
                <div class="panel-heading">
                    <strong>   Please sign in </strong>
                </div>
                <div class="panel-body">

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>
        </div>

        {% if error %}
        <div class="alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>{{ error }}</strong>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}