{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">
<p align="center">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Logout</button>
</p>

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href="{% url "logout_process" %}" class="btn btn-primary btn-block">Logout</a></div>
    </div>
  </div>
</div>
</div>
{% endblock %}